<ion-header>
    <ion-toolbar color="primary">
        <ion-title><img alt="" src="../../../assets/poolfinder-logo.png"></ion-title>
    </ion-toolbar>

    <ion-toolbar color="secondary">

        <div *ngIf="facilityService.isSearching()" class="sk-cube-grid" slot="start">
            <div class="sk-cube sk-cube1"></div>
            <div class="sk-cube sk-cube2"></div>
            <div class="sk-cube sk-cube3"></div>
            <div class="sk-cube sk-cube4"></div>
            <div class="sk-cube sk-cube5"></div>
            <div class="sk-cube sk-cube6"></div>
            <div class="sk-cube sk-cube7"></div>
            <div class="sk-cube sk-cube8"></div>
            <div class="sk-cube sk-cube9"></div>
        </div>

        <ion-searchbar
                *ngIf="includeSearch"
                debounce="500"
                [animated]="true"
                [showCancelButton]="false"
                (ionChange)="facilityService.search($event)"
                placeholder="Town, city or postcode">
        </ion-searchbar>
        <ion-button *ngIf="includeSearch" (click)="facilityService.getGeolocation()" slot="end">
            <ion-icon name="locate"></ion-icon>
        </ion-button>

        <ion-buttons
                *ngIf="includeBack"
                slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
