<app-global-header></app-global-header>

<ion-content>
    <ion-grid *ngIf="facility">
        <ion-row>
            <ion-col size-lg="8" offset-lg="2">
                <ion-row>
                    <ion-col size="12" size-md="8" size-xl="6">
                        <ion-row>
                            <ion-col>
                                <ion-card-title>
                                    {{ facility.name }}
                                </ion-card-title>
                                <ion-card-subtitle>
                                    <div *ngIf="facility.address.line_one">{{ facility.address.line_one }},</div>
                                    <div *ngIf="facility.address.line_two">{{ facility.address.line_two }},</div>
                                    <div *ngIf="facility.address.city">{{ facility.address.city }},</div>
                                    <div *ngIf="facility.address.area">{{ facility.address.area }},</div>
                                    <div *ngIf="facility.address.post_code">{{ facility.address.post_code }}</div>
                                </ion-card-subtitle>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="ion-padding-top">
                                <ion-button (click)="openWebsite()"
                                            *ngIf="facility.website && facility.website != 'N/A'">
                                    <ion-icon name="open" slot="start"></ion-icon>
                                    Open Website
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                    <ion-col size="12" size-md="4" size-xl="6" *ngIf="facility.coordinates.lat">
                        <div #map id="map">
                            <ion-icon name="map"></ion-icon>
                        </div>
                        <ion-button expand="full" (click)="openDirections()">
                            <ion-icon name="open" slot="start"></ion-icon>
                            Get Directions
                        </ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <h2>Facilities</h2>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <app-facility-stats [facility]="facility" page="facility-info"></app-facility-stats>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <h2>Pools</h2>
                </ion-row>
                <ion-grid *ngFor="let pool of (facility.pools)" no-padding>
                    <h2 class="pool-name">{{ pool.type.name }}</h2>
                    <ion-row>
                        <ion-col size-xs="12" size-lg="4">
                            <h3>Opening hours</h3>
                            <p>Please contact facility for latest opening hours.</p>
                        </ion-col>
                        <ion-col size-xs="12" size-md="6" size-lg="4">
                            <h3>Pool data</h3>
                            <ion-grid class="pool-data" no-padding>
                                <ion-row class="pool-details">
                                    <ion-col size-xs="8" size-md="6">
                                        Pool length:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        {{ pool.length|number:'1.0-2' }}m
                                    </ion-col>
                                    <ion-col size-xs="8" size-md="6">
                                        Pool width:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        {{ pool.width|number:'1.0-2' }}m
                                    </ion-col>
                                    <ion-col size-xs="8" size-md="6">
                                        Shallow end:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        {{ pool.depth_shallow|number:'1.0-2' }}m
                                    </ion-col>
                                    <ion-col size-xs="8" size-md="6">
                                        Deep end:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        {{ pool.depth_deep|number:'1.0-2' }}m
                                    </ion-col>
                                    <ion-col size-xs="8" size-md="6">
                                        Pool area:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        {{ pool.area|number:'1.0-2' }}m<sup>2</sup>
                                    </ion-col>
                                    <ion-col size-xs="8" size-md="6">
                                        Movable floor:
                                    </ion-col>
                                    <ion-col size-xs="4" size-md="6">
                                        <span *ngIf="pool.movable_floor">Yes</span>
                                        <span *ngIf="!pool.movable_floor">No</span>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility__pool-facilities">
                            <h3>Pool facilities</h3>
                            <ion-grid no-padding>
                                <ion-row *ngIf="facility.carpark == true">
                                     <ion-col class="facility-stats__icon">
                                        <i class="poolfinder-icons-disability-access" title="disability access"></i>
                                    </ion-col>
                                    <ion-col class="facility-stats_label">Disability access</ion-col>
                                </ion-row>
                                <ion-row *ngIf="facility.carpark == true">
                                    <ion-col class="facility-stats__icon">
                                        <i class="poolfinder-icons-parking" title="Carpark"></i>
                                    </ion-col>
                                    <ion-col class="facility-stats_label">Carpark</ion-col>
                                </ion-row>
                                <ion-row *ngIf="pool.diving_board == true">
                                    <ion-col class="facility-stats__icon">
                                        <i class="poolfinder-icons-diving" title="diving"></i>
                                    </ion-col>
                                    <ion-col class="facility-stats_label">Diving</ion-col>
                                </ion-row>
                                <ion-row *ngIf="facility.carpark == true">
                                    <ion-col class="facility-stats__icon">
                                        <i class="poolfinder-icon poolfinder-icons-swimming-kids" title="Swim England Learn to Swim Kids"></i>
                                    </ion-col>
                                    <ion-col class="facility-stats_label">Swim England Learn to Swim Kids</ion-col>
                                </ion-row>
                                <ion-row *ngIf="facility.carpark == true">
                                    <ion-col class="facility-stats__icon">
                                        <i class="poolfinder-icons-swimming-adults" title="Swim England Learn to Swim Adults"></i>
                                    </ion-col>
                                    <ion-col class="facility-stats_label">Swim England Learn to Swim Adults</ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>




            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
