ion-content {
  #map {
    width: 100%;
    height: 400px;
    background-color: var(--ion-color-light);

    ion-icon {
      height: 200px;
      color: var(--ion-color-primary-tint-transparent-25);
      width: 100%;
      margin-top: 100px;
    }
  }
}
$max-icon-col-width: 50px;
$icon-col-width: 40px;

.facility-stats__icon i {
  height: $icon-col-width;
  width: $icon-col-width;
  display: inline-block;
  background-repeat: no-repeat;
}

ion-col.facility-stats__icon {
  max-width: $max-icon-col-width;
}

$max-icon-col-width-small: 30px;
$icon-col-width-small: 25px;
.facility__pool-facilities {
  .facility-stats__icon i {
    height: $icon-col-width-small;
    width: $icon-col-width-small;
    display: inline-block;
    background-repeat: no-repeat;
  }
}
