<ion-grid no-padding>
    <ion-row class="facility-stats facility-stats__{{ page }}">
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.disney_sessions == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-disney-sessions" title="Disney Inspired Swim Sessions"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Disney Inspired Swim Sessions</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.aquatic_fitness == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-aqua-fitness" title="aqua fitness"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">aqua fitness</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.hasDisabledAccess == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-disability-access" title="disability access"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Disability access</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.hasDisabledAccess == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-disability"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">disability</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.hasDivingBoard == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-diving" title="diving"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">diving</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.carpark == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-parking"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Parking</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swim_britian_training == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swim-britain-coaching"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">COaching</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swim_britian_events == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swim-britain-event"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">events</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swim-britain-pool"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Swimfit</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.has25mPool == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swim-fit"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.adult_lessons == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swimming-adults"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Lessons (Adult)</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.has25mPool == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swimming-club"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.child_lessons == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swimming-kids"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">Lessons (children)</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swimming"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-synchro"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-water-polo"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.women_only == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-women-only"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-masters"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-open-water"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.swimfit == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-swim-school"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.has25mPool == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-25m" title="25m pool"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">25m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-stats_individual" *ngIf="facility.has50mPool == true">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-stats__icon">
                        <i class="poolfinder-icons-50m" title="50m pool"></i>
                    </ion-col>
                    <ion-col class="facility-stats_label">50m Pool</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>
