<ion-grid no-padding *ngFor="let clubType of facility.clubTypes">
    {{ clubType }}
    <ion-row class="facility-clubs facility-clubs__{{ page }}">
        <ion-col size-xs="12" size-md="6" size-lg="4" class="facility-clubs_{{ clubType }}">
            <ion-grid no-padding>
                <ion-row>
                    <ion-col class="facility-clubs__{{ clubType }}">
                        <i class="poolfinder-icon-discipline poolfinder-icons-discipline-{{ clubType }}" title="{{ clubType.name }}"></i>
                    </ion-col>
                    <ion-col class="facility-clubs_label">{{ clubType }}</ion-col>
                </ion-row>
            </ion-grid>
        </ion-col>
    </ion-row>
</ion-grid>
