$max-icon-col-width: 50px;
$icon-col-width: 40px;

$max-icon-col-width-small: 450px;
$icon-col-width-small: 30px;

.facility-clubs__icon i {
  height: $icon-col-width;
  width: $icon-col-width;
  display: inline-block;
  background-repeat: no-repeat;
}

.facility-clubs__facilities-info {
  & .facility-clubs_individual {
    max-width: $icon-col-width !important;
  }
  & .facility-clubs__icon i {
    height: $icon-col-width-small;
    width: $icon-col-width-small;

  }
  & .facility-clubs_label {
    display: none;
  }
}

ion-col.facility-clubs__icon {
  max-width: $max-icon-col-width;
}

