.blank-welcome {
  background-image: linear-gradient(rgba(0, 58, 99, 0.5), rgba(0, 58, 99, 0.5)), url('../../../assets/underwater_boy.png');
  height: 100%;
  background-position: center;
  background-size: cover;
  color: var(--ion-color-secondary-contrast);

  h2 {
    font-size: 2em;
    background-color: var(--ion-color-primary);
    padding: 5px;
    display: inline-block;
  }

  p {
    background-color: var(--ion-color-secondary);
    padding: 5px;
    display: inline-block;
  }
}

.searching {
  /* styling stuff */
  font-weight: 300;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.1);
}

.searching_logo {
  margin: 20px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.shimmer {
  /* the shimmer magic */
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
