<app-global-header></app-global-header>

<ion-content>
    <ng-container *ngIf="facilityService.getResults() && facilityService.getResults().data; else noResults">
        <ion-grid>
            <ion-row>
                <ion-col size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
                    <ion-list class="facilities-results">
                        <ion-item button *ngFor="let item of (facilityService.getResults().data)"
                                  (click)="getFacilityDetails(item.facility)"
                        >
                            <ion-grid no-padding>
                                <h3>{{ item.facility.name }}</h3>
                                <ion-row>
                                    <ion-col size="12">
                                        <div class="address">
                                            <span *ngIf="item.facility.address.line_one">{{ item.facility.address.line_one }}, </span>
                                            <span *ngIf="item.facility.address.line_two">{{ item.facility.address.line_two }}, </span>
                                            <span *ngIf="item.facility.address.city">{{ item.facility.address.city }}, </span>
                                            <span *ngIf="item.facility.address.area">{{ item.facility.address.area }}, </span>
                                            <span *ngIf="item.facility.address.post_code">{{ item.facility.address.post_code }}</span>
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <ion-row *ngIf="item.distanceInMiles()">
                                    <ion-col size="12">
                                        Distance: {{ item.distanceInMiles()|number:'1.0-2' }} miles
                                    </ion-col>
                                </ion-row>
                                <h4>Facilities</h4>
                                <ion-row>
                                    <ion-col>
                                        <app-facility-stats [facility]="item.facility" page="facilities-info"></app-facility-stats>
                                    </ion-col>
                                </ion-row>
                                <h4 *ngIf="item.facility.clubs.length">Clubs</h4>
                                <ion-row *ngIf="item.facility.clubs.length">
                                    <ion-col>
                                        <app-facility-clubs [facility]="item.facility" page="facilities-info"></app-facility-clubs>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <ion-icon slot="end" name="arrow-forward"></ion-icon>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-container>

    <ng-template #noResults>
        <div *ngIf="!facilityService.isSearching()" class="blank-welcome">
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="10" offset-xs="1" size-lg="8" offset-lg="2" size-xl="6" offset-xl="3">
                        <h2>Find your local swimming pool or club</h2>
                        <p>Swim England approved swimming lessons, aquatics clubs, sessions and more.</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <ion-grid *ngIf="facilityService.isSearching()">
            <ion-row>
                <ion-col>
                    <div class="ion-text-center">
                        <img class="searching_logo" alt="" src="../../../assets/icon.png"><br/>
                        <div class="searching shimmer">searching for facilities</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>
